@model OnlineCourses.Entities.Category

@{
    ViewData["Title"] = "Category Details";
}

<!-- Page Title -->
<div class="row mb-4">
    <div class="col-md-12">
        <h1>Category Details</h1>
    </div>
</div>

<!-- Category Details -->
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h4>Category</h4>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4">
                        <i class="fas fa-tag"></i> @Html.DisplayNameFor(model => model.Title)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Title)
                    </dd>
                    <dt class="col-sm-4">
                        <i class="fas fa-align-left"></i> @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-4">
                        <i class="fas fa-image"></i> @Html.DisplayNameFor(model => model.ThumbnailImagePath)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.ThumbnailImagePath)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<!-- Navigation Links -->
<div class="row mt-4">
    <div class="col-md-12 text-center">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning me-2">
            <i class="fas fa-edit"></i> Edit
        </a>
        <a asp-action="Index" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Back to List
        </a>
    </div>
</div>
